extends ../layouts/main

block variables
  - var fileName = city ? `friends_city-${city}_id-${user_id}.txt` : `friends_id-${user_id}.txt`; 

block content
  h4.center-align Друзья пользователя с id - #{ user_id }
  p.center-align Скачать файл с друзьями #[a(href=`../../assets/files/${fileName}` download) тут]
  .row
    form(method="GET").col.s6.offset-s3
      .row
        .input-field.col.s12
          input(type="text" name="city" id="city")
          label(for="city") Введите город
        input(type="hidden" name="user_id" value=user_id)
      button(type="submit").btn.waves-effect.waves-light.form__btn Найти
  if friends && friends.length > 0
    .row
      each friend in friends  
        .col.s4
          .card
            .card-image
              if friend.photo_200
                img(src=friend.photo_200)
              else 
                img(src='../../assets/timthumb.png')
            .card-content.center-align
              span.card-title #{ friend.first_name } #{ friend.last_name }
  else 
    .row
      .col.s12
        p.center-align Ничего не найдено
            


  